*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	background-image: url(../fundo.jpg);
	
}

section{
	margin: 0 auto;
	background-color: rgb();
	height: 400px;
	width: 500px;
	position: absolute; 
    left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);

}

.terreno{
	height: 200px;
	width: 250px;
	display: inline-block;
}



.casa1{
	background-color: white;
	width: 100%;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.casa1  h2 ,h1 ,p{
	padding-left: 20px;
	padding-top: 20px;
	width: 95%;
}

.casa1 h2{
	color: rgb(71, 181, 163);
}
.casa1 h1{
	color: rgb(41, 207, 102);
}
.casa1 p{
	color: rgb(171, 171, 171);
}

.casa2{
	background-color: rgb(72, 199, 178);
	border-bottom-left-radius: 10px;	

}

.casa2 h1{
font-size: 23px;
padding-top: 20px;
color: white;

}
.casa2 h2{
	padding-top: 10px;
	padding-left: 20px;
	color: white;	
}

.casa2 p{
	color: white;	
}

.casa2 input{
	margin-top: 20px;
	margin-left: 20px;
	width: 210px;
	height: 40px;
	background-color: rgb(91, 212, 70);
	border: 0px;
	border-radius: 7px;
	box-shadow: 20px 30px 100px black;
	text-align: center;
	font-size: 20px;
	color: white;
	
	
}

.casa3{
	background-color: rgb(124, 214, 199);
	position: fixed;
	color: white;
	border-bottom-right-radius: 10px;	
}